@import url('https://fonts.googleapis.com/css?family=Jura&display=swap');

body {
    background-color: #141516;
    color: #fff;
    font-family: 'Jura', sans-serif;
    font-size: 16px;
    text-align: center;
}

h2 {
    margin-top: 30px;
    font-size: 30px;
}

#calculator {
    display: inline-block;
    background-color: #fff;
    color: #040404;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

label {
    display: block;
    margin-top: 24px;
    font-size: 18px;
    font-weight: bold;
}

input[type="text"],
select {
    font-family: 'Jura', sans-serif;
    display: block;
    margin: 4px auto;
    padding: 4px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    width: 100%;
    max-width: 200px;
    background-color: #fff;
    color: #040404;
}

button {
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #ff8400;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

button:hover {
    background-color: #f37300;
}
